//-- COLOURS -------------------------------------------------------------------
$global-blue:				 #00BFFF;
$global-turquoise:	 #00FFF7;
$global-purple:			 #9012FE;
$global-yellow:			 #FED112;
$global-red:				 #FF4747;
