!!!5
%html{lang: 'en'}
	%head
		-# Meta
		%meta{content: 'text/html; charset=UTF-8', "http-equiv" => 'Content-Type'}
		%meta{content: 'width=device-width, initial-scale=1.0', "name:" => ''}
		%meta{charset: 'utf-8'}
		-# Stylesheets
			-# Vendor
		%link{href: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', rel: 'stylesheet'}
			-# Local
		%link{href: 'css/application.css', rel: 'stylesheet'}

		%title PlayerUnknown's Battlegrounds &middot; An interactive map
	%body
		#map-container
			.container
				%img{src: 'img/bp_logo.png', width: 200}
				.alert.alert-warning.alert-dismissible.fade.show{role: 'alert'}
					%button{type: 'button', class: 'close', "data-dismiss" => 'alert', "aria-label" => 'Close'}
						%span{"aria-hidden" => 'true'} &times;
					%h4.alert-heading Heads up: This is a very early version.
					%p
						Currently potential and guaranteed vehicle spawns + possible boat spawns are shown.
						Next I'll start adding in zones in which different tiers of gear is more likely to spawn.
						As well as that, I'll also finish up the functionality of the UI preferably.
						%a.float-right{href: 'http://oesterkilde.dk/'} - Kevin &Oslash;sterkilde

			.legend
				.legend--item
					%h4 Markers:
					%div.item
						%span.a
						Guaranteed spawn
					%div.item
						%span.b
						Potential spawn
				.legend--item
					%h4
						Zones:
						%small.muted (To-do!)
					%div.item
						%span.c
						High spawn chance
					%div.item
						%span.d
						Medium spawn chance
					%div.item
						%span.e
						Low spawn chance

			.input-group
				%button#reset.btn.btn-primary.mr-3 Reset map
				%button#hide.btn.btn-primary{disabled: ''} Hide all markers

			.input-group
				%input.form-control#location{placeholder: 'Search...', type: 'text', disabled: ''}
				%span.input-group-btn
					%button.btn.btn-secondary{type: 'button', disabled: ''} Go

			#map
				%span.loading Loading tiles...

		-# Javascript
			-# Vendor
		%script{src: '//maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,places&key=AIzaSyBnDR4e5_qobPG6Vn_zjhc1vyOIooChZt8', type: 'text/javascript', async: '', defer: ''}
		%script{src: '//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js', type: 'text/javascript'}
		%script{src: '//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', type: 'text/javascript'}
		%script{src: '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', type: 'text/javascript'}
			-# Local
		%script{src: 'js/application-dist.js', type: 'text/javascript'}
